.drawer-menu .MuiDrawer-paper {
    width: 280px !important;
    transition: all ease .4s;
    overflow-x: hidden;
    z-index: 1300;
}

.mini-drawer-menu .MuiDrawer-paper {
    width: 75px;
    transition: all ease .4s;
}

.search-container {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5em;
    padding: 0.2em;
}

.search-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.search-container .MuiSvgIcon-root {
    width: 1.5em;

}

.search-input .MuiInputBase-input {

    padding: (1em, 1em, 1em, 7em);
    width: '100%';
}

.item-selected .MuiTypography-root {
    font-weight: 700 !important;
}

.bottom-navigation {
    position: sticky;
    left: 0;
    bottom: 0;
    margin-top: auto;
}

.bottom-navigation .MuiBottomNavigation-root {
    height: auto;
}

.bottom-navigation .MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
    padding: 0.7em 0px 0px 0px;
}

.MuiListItem-Text_bold .MuiListItemText-primary {
    font-weight: bold;
    transition: all .2s;
}